@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p.seccion:hover {
	position: relative;
	bottom: 1%;
	left: 1%;
	box-shadow: 10px 10px 5px #aaaaaa; 
}

section#chat {
	position: fixed;
	bottom: 0px;
	right: 0px;

	z-index: 999;

	height: 10%;
	width: 18%;

}

section#chat {
	background-color: #086609;
	color: white;

	margin: auto;
	margin-right: 2%;

	text-align: center;
	font-size: 1.2rem;

	border-top-right-radius: .5rem;
	border-top-left-radius: .5rem;
}

header {
	position: sticky;
	top: 0;
}