/*
	body
		display: grid;    
	    grid-template-columns: repeat(12, 1fr);
	    grid-template-rows: 8% 5% 20% auto;
*/

body {
	
}


/*
	header y footer
		grid-column: span 12;
*/

header, footer {
	
}

/*
	nav y section
		grid-column-start: 2;
		grid-column-end: 12;
*/

nav, section {
	
}


/*
	ul y ol
		display: flex;
	justify-content: space-evenly;
*/

ul#navbar,h2 + ul, h2 + ol {
	
}