/*
	Agrega la propiedad display y cambia los valores por block, inline e inline-block
*/

div p {
	width: 20%;
	border: 0.5pt dotted black;
}

div p:nth-child(1) {
	background-color: #c1dbf4;
}

div p:nth-child(2) {
	background-color: antiquewhite;
}

div p:nth-child(3) {
	background-color: rgb(193, 244, 194);
}

div p:nth-child(4) {
	background-color: hsl(26, 70%, 86%);
}