<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Todos Mis Servicios - TMS</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='round-about.css') }}" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#">Todos Mis Servicios</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Principal
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Acerca</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Servicios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contáctenos</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Introduction Row -->
					<h1>Página Principal</h1>
				</div>
				<div class="col-12">
					<p>¡Bienvenido a Todos Tus Servicios, {{nombre}}!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					My water bowl is clean and freshly replenished, so i'll drink from the toilet. Reward the chosen human with a slow blink under the bed, or scratch at fleas, meow until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and poo on owners food or stare at the wall, play with food and get confused by dust, or catty ipsum stand in front of the computer screen pet right here, no not there, here, no fool, right here that other cat smells funny you should really give me all the treats because i smell the best and omg you finally got the right spot and i love you right now.
				</div>
				<div class="col-4">
					Headbutt owner's knee sit in a box for hours. Flee in terror at cucumber discovered on floor poop in litter box, scratch the walls, climb a tree, wait for a fireman jump to fireman then scratch his face, for claw drapes, or ears back wide eyed stand in doorway, unwilling to chose whether to stay in or go out and my slave human didn't give me any food so i pooped on the floor. Stand in front of the computer screen sniff sniff bring your owner a dead bird going to catch the red dot today going to catch the red dot today claw drapes.
				</div>
				<div class="col-4">
					Stare out the window refuse to come home when humans are going to bed; stay out all night then yowl like i am dying at 4am yet eat from dog's food, so meoooow yet scratch leg; meow for can opener to feed me floof tum, tickle bum, jellybean footies curly toes and howl on top of tall thing. Eat too much then proceed to regurgitate all over living room carpet while humans eat dinner meow meow, i tell my human for litter kitter kitty litty little kitten big roar roar feed me vommit food and eat it again.
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<form action="/datos_servicio" method="post" class="text-center">
						<input type="hidden" name="user" value="{{user}}">
						<button type="submit" class="btn btn-success">Continuar >></button>
					</form>
				</div>
			</div>
		</div>
		<!-- /.container -->
		<!-- Footer -->
		<footer class="py-3 bg-dark fixed-bottom">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; TMS 2018</p>
			</div>
			<!-- /.container -->
		</footer>
		<!-- Bootstrap core JavaScript -->
		<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>