<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Todos Mis Servicios - TMS</title>
		<!-- Bootstrap core CSS -->
		<link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="{{ url_for('static', filename='round-about.css') }}" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#">Todos Mis Servicios</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link" href="#">Principal
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Acerca</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Servicios</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contáctenos</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Page Content -->
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Introduction Row -->
					<h1>Página Principal</h1>
				</div>
				<div class="col-12">
					<p>¡Bienvenido a Todos Tus Servicios, {{nombre}}!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<ul>
					{% for servicio, valor in servicios.items() %}
						<li>{{servicio}} - ${{valor}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<!-- /.container -->
		<!-- Footer -->
		<footer class="py-3 bg-dark fixed-bottom">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; TMS 2018</p>
			</div>
			<!-- /.container -->
		</footer>
		<!-- Bootstrap core JavaScript -->
		<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	</body>
</html>