<div id="banner" class="container-fluid bg-info text-white" *ngIf="visible">
  <div class="row">
    <div class="col-4 text-right my-3 border-right">
      <span class="align-middle">
        <h2>Suscríbete</h2>
      </span>
    </div>
    <div class="col-6 my-2">Invita a tus amigos a ser tus Vecinos dentro de tu barrio o crea tu propio barrio. Forma parte de la red de vecinos para que puedas estar conectado desde ahora.</div>
    <div id="close" class="col-2 my-4" (click)="hide()">X</div>
  </div>
</div>