<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info shadow-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{ 'show': navbarOpen }">
      <a class="navbar-brand" routerLink="/"><i id="icon-users" class="fas fa-users"></i>Vecinos</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Principal <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vecinos">Vecinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/barrios">Barrios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/anuncios">Anuncio</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
